#1.Python Program to check whether number is even or odd

In [1]:
number = int(input("Enter a number: "))
if number % 2 == 0:
    print(number, "is even")
else:
    print(number, "is odd")

Enter a number:  5

5 is odd

#2.Python program to calculate the factorial of a given number using recursion.

In [2]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)
number = int(input("Enter a number: "))
result = factorial(number)
print("The factorial of", number, "is", result)

Enter a number:  6

The factorial of 6 is 720

#3.Python program to find the greatest common divisor (GCD) of two numbers

In [22]:
def gcd(a, b):
  while b != 0:
    a, b = b, a % b
  return a
num1 = int(input())
num2 =int(input())
result = gcd(num1, num2)
print("The GCD of", num1, "and", num2, "is", result)

 20
 15

The GCD of 20 and 15 is 5

#4.Python program to reverse a string without using slicing.

In [30]:
def reverse_string(string):
  revstring = ""
  for char in string:
    revstring = char + revstring
  return revstring
string = input()
revstring = reverse_string(string)
print("Reversed string:", reversed_string)

 hello

Reversed string: olleh

#5.Python program to count the frequency of each character in a string.

In [40]:
def count_letters(text):
  letter_count = {}
  for letter in text:
    if letter in letter_count:
      letter_count[letter] += 1
    else:
      letter_count[letter] = 1
  return letter_count

# Example usage:
text = input()
letter_counts = count_letters(text)
print("Letter counts:")
for letter, count in letter_counts.items():
  print(f"{letter}: {count}")

 hello

Letter counts:
h: 1
e: 1
l: 2
o: 1

#6.Python program to check if a given string is a palindrome.

In [6]:
string = input()
if string==string[::-1]:
  print("The string is a palindrome.")
else:
  print("The string is not a palindrome.")

 ede

The string is a palindrome.

#7.Python program to replace all occurrences of a substring in a string.

In [2]:
def replace_word(text, old_word, new_word):
  while old_word in text:
    text = text.replace(old_word, new_word, 1)
  return text

# Example:
text = input()
old_word = input()
new_word = input()
new_text = replace_word(text, old_word, new_word)
print(new_text)

 myself madhulika
 myself
 i'm

i'm madhulika

#8.Python program to find all substrings of a given string.

In [4]:
def substrings(text):
  substring = []
  for i in range(len(text)):
    for j in range(i + 1, len(text) + 1):
      subString = text[i:j]
      substring.append(subString)
  return substrings
    

# Example:
text = input()
substrings = find_substrings(text)
print(substrings)

 patel

['p', 'pa', 'pat', 'pate', 'patel', 'a', 'at', 'ate', 'atel', 't', 'te', 'tel', 'e', 'el', 'l']

#9.Python program to round a float to 2 decimal places

In [2]:
number = float(input())
rounded_number = round(number, 2)
print(rounded_number)  # Output: 3.14

 3.2489582

3.25

#10. Python program to convert a float number to a string and vice versa

In [4]:
floatnum = float(input())
string_num = str(floatnum)
print(string_num)
string_num = input()
floatnum = float(string_num)
print(floatnum)

 2.12

2.12

 3.12

3.12

#11.Python program to perform basic arithmetic operations (addition, subtraction, multiplication, division) on floating-point numbers.

In [5]:
num1 = int(input())
num2 = int(input())
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

 25
 15

Addition: 40
Subtraction: 10
Multiplication: 375
Division: 1.6666666666666667

#12.Python program to add two complex numbers.

In [1]:
c1=complex(input())
c2=complex(input())  
complex=c1+c2
print(complex)

 5
 4j

(5+4j)

#13.Python program to find the magnitude of a complex number.

In [7]:
c3=complex(input("enter values"))
magnitude=abs(c3)
print(magnitude)

enter values 4+4j

5.656854249492381

#14.Python program to convert a complex number to its polar coordinates.

In [15]:
import cmath
def complextopolar(c):
    return cmath.polar(c)
print(complextopolar(4+ 6j))

(7.211102550927978, 0.982793723247329)

#15. Write a program to multiply two complex numbers.

In [16]:
c4=complex(input())
c5=complex(input())  
complex=c4*c5
print(complex)

 3+4j
 2+4j

(-10+20j)

#16.Python program to find the sum of all elements in a list.

In [19]:
list=[3,6,2,6,6]
totalsum=sum(list)
print(totalsum)

23

#17.Python program to remove duplicates from a list.

In [23]:
l1=[2,4,3,2,6,4,7,8,1]
l2=set(l1)
print(l1,l2)

[2, 4, 3, 2, 6, 4, 7, 8, 1] {1, 2, 3, 4, 6, 7, 8}

#18.Python program to sort a list in ascending order without using the built-in sorted() function.

In [25]:
def sortlist(list1):
    for i in range(len(list1)):
        for j in range(i + 1, len(list1)):
            if list1[i] > list1[j]:
                list1[i], list1[j] = list1[j], list1[i]
    return list1
print(sortlist([8,2,4,5,4]))

[2, 4, 4, 5, 8]

#19.Python program to merge two lists and remove duplicates.

In [31]:
l1=[2,4,3,2,6,4,7,8,1]
l2=[11,5,31,11,5]
l1.extend(l2)
l3=set(l1)
print(l3)

{1, 2, 3, 4, 5, 6, 7, 8, 11, 31}

#20.Python program to find the second largest element in a list.

In [3]:
def secondlarge(lst):
    unique = list(set(lst))  # Remove duplicates
    unique.sort()
    return unique[-2]

print(secondlarge([1, 2, 3, 4,2, 4]))

3

#21.Python program to find the index of an element in a tuple.

In [12]:
def indexT(tup, ele):
    return tup.index(ele)
print(indexT((1, 2, 3, 4), 3))

2

#22.Python program To Convert a tuple into a list and list into a tuple.

In [15]:
t=(1,2,3,4,5)
lst=list(t)
print(type(lst))
print(lst)
t=tuple(lst)
print(type(t))
print(t)

<class 'list'>
[1, 2, 3, 4, 5]
<class 'tuple'>
(1, 2, 3, 4, 5)

#23.Python program to check if a given element is present in a tuple.

In [16]:
tuple=(3, 2, 6, 9, 1)
value=int(input("enter value"))
if value in tuple:
   print("element present.")
else:
   print("can't find element")

enter value 3

element present.

#24.Python program to count the occurrences of an element in a tuple.

In [18]:
value=int(input("enter vlaue"))
tuple1=(3,56,7,8,4,1,3,4,3,7)
occurrence=tuple1.count(value)
print(occurrence)

enter vlaue 7

2

#25.Python program to concatenate multiple tuples.

In [20]:
t1=(4, 2,5,3,9)
t2=(7,8,21,2)
t3=(1,4,[5,9,1])
con=t1+t2+t3
print(con)

(4, 2, 5, 3, 9, 7, 8, 21, 2, 1, 4, [5, 9, 1])

#26.Python program to find the union and intersection of two sets.

In [21]:
def unioninter(set1, set2):
    return set1.union(set2), set1.intersection(set2)
print(unioninter({7,3,9,2}, {3, 6, 4, 5}))

({2, 3, 4, 5, 6, 7, 9}, {3})

#27.Python program to check if a set is a subset of another set.

In [22]:
def is_subset(set1, set2):
    return set1.issubset(set2)


print(is_subset({7,3,9,2}, {3, 6, 4, 5}))

False

#28.Python program to remove an element from a set if it exists.

In [23]:
def remoele(myset, element):
  if element in myset:
    myset.remove(element)

myset = {1, 2, 3, 4, 5}
eleremove = 3
remoele(myset, eleremove)
print(myset)

{1, 2, 4, 5}

#29.Python program to find the difference between two sets.

In [24]:
def setdiff(set1, set2):
    return set1.difference(set2)

print(setdiff({7,3,9,2}, {3, 6, 4, 5}))

{9, 2, 7}

#30.Python program to create a set from a list, removing duplicates.

In [25]:
def list_to_set(lst):
    return set(lst)
print(list_to_set([1, 2, 2, 3, 4, 4]))

{1, 2, 3, 4}

#31.Python program to find the sum of all values in a dictionary.

In [28]:
def sumdict(d):
    return sum(d.values())
print(sumdict({'p':3,'a':4,'t':6,'e':1,'l':8}))

22

#32.Python program to sort a dictionary by its keys.

In [31]:
def sortdict(dict1):
    return dict(sorted(dict1.items()))
print(sortdict({'p':3,'a':4,'t':6,'e':1,'l':8}))

{'a': 4, 'e': 1, 'l': 8, 'p': 3, 't': 6}

#33.Python program to merge two dictionaries into one.

In [33]:
def mergedict(d1, d2):
    d1.update(d2)
    return d1
print(mergedict({'p':3,'a':4,'t':6},{'e':1,'l':8,'s':6}))

{'p': 3, 'a': 4, 't': 6, 'e': 1, 'l': 8, 's': 6}

#34.Python program to get all the keys from a dictionary.

In [34]:
dict1={'p':3,'a':4,'t':6,'e':1,'l':8}
dict1.keys()

dict_keys(['p', 'a', 't', 'e', 'l'])

#35.Python program to invert a dictionary (swap keys and values).

In [52]:
def invertdict(dictionary):
  inverted_dict = {}
  for key, value in dictionary.items():
    inverted_dict[value] = key
  return inverted_dict  

dict11 = {'p':3,'a':4,'t':6,'e':1,'l':8}
inverted_dict = invertdict(dict11)
print(inverted_dict)

{3: 'p', 4: 'a', 6: 't', 1: 'e', 8: 'l'}

1.Python Program to Check if a Number is Positive, Negative or 0..........
2.Python Program to Display the multiplication Table

In [38]:
#1 answer
num=int(input())
if num>0:
    print("num is positive")
elif x==0:
    print("number is 0")
else:
    print("num is negative")

 23

num is positive

In [51]:
#2 answer
num=int(input())
for i in range(1,11):
    print(" ",(num)," * ",(i),"=",(num*i))

 5

  5  *  1 = 5
  5  *  2 = 10
  5  *  3 = 15
  5  *  4 = 20
  5  *  5 = 25
  5  *  6 = 30
  5  *  7 = 35
  5  *  8 = 40
  5  *  9 = 45
  5  *  10 = 50

#3.Access value 20 from the following tuple
aTuple=("orange",[10,20,30],(5,15,25))

In [45]:
aTuple=("orange",[10,20,30],(5,15,25))
val=aTuple[1][1]
print(val)

20

#4.remove empty strings from the list of strings
list1=['mike','','emma','kelly','','brad']

In [49]:
list1=['mike','','emma','kelly','','brad']
listclean=[x for x in list1 if x]
print(listclean)

['mike', 'emma', 'kelly', 'brad']

#5.Program for Area of Triangle:

In [50]:
h=float(input("Height"))
b=float(input("base"))
area_of_triangle=0.5*h*b
print("Area of the triangle is",area_of_triangle)

Height 4
base 3

Area of the triangle is 6.0